<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="xhmyjae">
    <meta name="description" content="An animation made with GSAP">
    <title>The animation</title>

    <script defer src="../scripts/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <link rel="stylesheet" href="../style/main.css">
</head>
<body>

<div class="background-parts">
    <img src="../../backend/resources/left-part.png" alt="left-part" class="left-part background-part">
    <img src="../../backend/resources/right-part.png" alt="right-part" class="right-part background-part">
</div>

<div class="frame">
    <div class="seq-a"></div>
    <div class="seq-b"></div>
</div>

</body>
</html>